html{
    background-color: #f7f7f7;
}
body{
    max-width: 1000px;
    margin: 30px auto 20px auto;
}
hr{ margin: 0; padding: 0; border: 1px solid #d6d6d6; }
h2, h3{margin: 0; padding: 0;}
/* reset ul margins, in particular for webkit */
ul{
    margin:0;
    padding:0;
    list-style: none;
}
img{max-width:100%;}
.container{
    margin:auto;
    border: thin solid #cccccc;
    background-color: white;
    padding: 30px 40px;
}
.banner{
    text-align:center;
}
#mug-shot{
    width:150px;
    height:150px;
    border:thin solid #cccccc;
    border-radius: 4px;
}
.links{
    margin: 10px 0px;
}
.links li {
    display: inline;
    padding: 0px 5px;
}
.links li a{
    padding: 5px 5px;
}
.links li a:hover{
    background-color: #cccccc;
    border-radius: 3px;
}
.bulleted-list{
    list-style: disc;
    padding-left:20px;
}
.body{
    margin-top: 20px;
}
.body p{
    line-height: 1.5em;
}
.text-center{ text-align: center; }
.project-title{
    font-weight: bolder;
    font-style: italic;
}
